/* Main Containers */
.outer-container {
  height: 800px;
  width: 100%;
  background:#152238;
}

.settings {
  margin-left:300px;
  height: 100%;
  color: white;
  font-size: large;
}

.app {
  margin-top:15px;
  display:flex;
  width:75%;
  height: 30px;
}

#homeButton {
  display:flex;
  margin-left: 0px;
}

#profileButton {
  display:flex;
  margin-left: 55px;
}

#settingsButton {
  display:flex;
  margin-left: 60px;
}

.sound {
  width: 50%;
  background: rgb(16, 16, 73);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:20px;
  height: 30px;
  display: flex;
  margin-top: 5px;
}

#noise {
  margin-left:20px;
  display: flex;
  align-items: center;
}

.time {
  width: 50%;
  background: rgb(16, 16, 73);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:20px;
  height: 30px;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 20px;
  width: 12px;
  margin-left: 60%; 
  border-bottom: 7px solid #3f8db1;
  border-right: 7px solid #3f8db1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#outer
{
    width:100%;
    text-align: center;
    padding-top: 300px;
    margin-left: -150px;
}
.inner
{
    display: inline-block;
}